@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,100);
html,
body {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
}
table {
  margin: 0;
}
label.required::after {
  content: '*';
  color: red;
  padding-left: 3px;
  font-size: 9px;
}
span.error {
  color: red;
  padding-left: 15px;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
section.container {
  padding: 40px;
  background-color: #ffffff;
  margin-bottom: 25px;
}
.section_head {
  border: none !important;
  font-size: 35px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  letter-spacing: .2em;
  font-weight: 200;
}
.section_head h1 {
  margin: 0;
  font-weight: 100;
  text-align: center;
}
section {
  color: #666;
}
section .content {
  /*padding: 40px 0 40px 0;*/
}
#organiser_page_wrap #intro {
  position: relative;
  text-align: center;
  font-weight: 100;
  padding: 20px 0 20px 0;
  border: none;
  margin-bottom: 0;
  margin-top: 20px;
  color: #fff;
  background-color: #AF5050;
}
#organiser_page_wrap .organiser_logo {
  max-width: 150px;
  margin: 0 auto;
}
#organiser_page_wrap .organiser_logo .thumbnail {
  background-color: transparent;
  border: none;
}
#goLiveBar {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 10px;
}
.adminLink,
.adminLink:hover {
  color: #fff;
}
#event_page_wrap {
  min-height: 100%;
  margin: 0 auto -60px;
  /* the bottom margin is the negative value of the footer's height */
  background: rgba(0, 0, 0, 0.4);
  /*Resets for user provided content */
}
#event_page_wrap #organiserHead {
  text-align: center;
  color: #fff;
  border: none;
  font-size: 15px;
  opacity: .6;
  transition: all 0.15s ease-in-out;
  background: rgba(0, 0, 0, 0.4);
  line-height: 30px;
  cursor: pointer;
}
#event_page_wrap #organiserHead:hover {
  opacity: 1;
}
#event_page_wrap #intro {
  position: relative;
  text-align: center;
  font-weight: 100;
  padding: 20px 0 20px 0;
  color: #ffffff;
  border: none;
  background-color: transparent;
  margin-bottom: 0;
}
#event_page_wrap #intro h1 {
  /*display: inline-block;*/
  position: relative;
  padding: 10px 10px;
  /*background: rgba(0,0,0,0.4);*/
  margin: 0;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 10px;
}
#event_page_wrap #intro .event_date {
  font-size: 15px;
  padding: 10px;
  font-weight: 500;
}
#event_page_wrap #intro .event_venue {
  font-size: 19px;
}
#event_page_wrap #intro .event_buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}
#event_page_wrap #intro .event_buttons .btn-event-link {
  line-height: 35px;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  transition: all 0.15s ease-in-out;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#event_page_wrap #intro .event_buttons .btn-event-link:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
#event_page_wrap #tickets .tickets_table_wrap {
  /*padding: 10px;*/
  /*background-color: #f8f8f8;*/
}
#event_page_wrap #tickets .input-group-addon {
  background: none;
  border: none;
}
#event_page_wrap #tickets table tr:first-child td {
  border-top: none;
}
#event_page_wrap #tickets table tr td {
  padding: 20px 0px;
}
#event_page_wrap #details .event_poster img {
  border: 4px solid #f6f6f6;
  max-width: 100%;
  min-width: 100%;
}
#event_page_wrap #details .event_details iframe,
#event_page_wrap #details .event_details img {
  /* Youtube embed fix */
  max-width: 100%;
}
#event_page_wrap #details .event_details h1,
#event_page_wrap #details .event_details h2,
#event_page_wrap #details .event_details h3,
#event_page_wrap #details .event_details h4,
#event_page_wrap #details .event_details h5,
#event_page_wrap #details .event_details h6 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 100;
}
#event_page_wrap #details .event_details h1 {
  font-size: 28px;
}
#event_page_wrap #details .event_details h2 {
  font-size: 24px;
}
#event_page_wrap #details .event_details h3 {
  font-size: 20px;
}
#event_page_wrap #details .event_details h4 {
  font-size: 17px;
}
#event_page_wrap #share .btn {
  margin-bottom: 20px;
}
#event_page_wrap #location {
  /*height: 500px;*/
  padding: 0px;
}
#event_page_wrap #location .google-maps {
  position: relative;
  /*padding-bottom: 75%; // This is the aspect ratio*/
  overflow: hidden;
}
#event_page_wrap #location .google-maps iframe {
  width: 100% !important;
  height: 100% !important;
  min-height: 500px;
}
footer,
.push {
  height: 60px;
  /* '.push' must be the same height as 'footer' */
}
#footer {
  background-color: #888;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 60px;
  line-height: 60px;
  color: #fff;
  text-align: center;
}
#organiser {
  text-align: center;
}
#organiser .contact_form {
  display: none;
  padding: 20px;
  margin-top: 25px;
  text-align: left;
}
.totop {
  border-radius: 0;
  background-color: #888;
  background-color: rgba(0, 0, 0, 0.4);
}
.totop:hover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
  color: #000;
}
/* ==========================================================================
Small devices (tablets, 768px and up)
========================================================================== */
@media (min-width: 100px) and (max-width: 767px) {
  .row {
    margin: 0;
  }
  section.container {
    margin-bottom: 0;
    padding: 10px;
  }
  .section_head {
    padding: 10px;
    font-size: 30px;
  }
  .main_content {
    padding: 0px;
    background: #fff;
    /*make gutters white for tablet/mobile*/
  }
  #organiser_page_wrap #intro {
    padding: 30px;
    margin-top: 0;
  }
  #organiser_page_wrap #intro h1 {
    font-size: 2.236em;
    padding: 15px;
  }
  #organiser_page_wrap #events {
    min-height: 350px;
  }
  #event_page_wrap #intro {
    padding: 30px;
  }
  #event_page_wrap #intro .event_date h2 {
    font-size: 20px;
  }
  #event_page_wrap #intro .event_date h4 {
    font-size: 11px;
  }
  #event_page_wrap #intro h1 {
    font-size: 2.236em;
    padding: 15px;
  }
  #event_page_wrap #intro .event_venue {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
  }
  #event_page_wrap #intro .event_buttons {
    margin-top: 50px;
  }
  #event_page_wrap #intro .event_buttons .btn-event-link {
    padding: 5px 0px;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 30px;
  }
  #event_page_wrap #tickets .btn-checkout {
    width: 100%;
  }
  #event_page_wrap #location .google-maps iframe {
    min-height: 290px;
  }
  .content {
    padding: 15px;
  }
}
/* ==========================================================================
   Medium devices (desktops, 992px and up)
   ========================================================================== */
@media (min-width: 992px) {
  /*#intro h1  { font-size: 50px; }*/
}
.rrssb-buttons.large-format li a {
  border-radius: 0;
}
/*
-----------------------------------------------------
Event Listing / Organiser Page
-----------------------------------------------------
*/
.event-listing-heading {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}
.event-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.event-list > li {
  background-color: #F3F3F3;
  padding: 0px;
  margin: 0px 0px 20px;
}
.event-list > li > time {
  display: inline-block;
  width: 100%;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.event-list > li > time > span {
  display: none;
}
.event-list > li > time > .day {
  display: block;
  font-size: 18pt;
  font-weight: 100;
  line-height: 1;
}
.event-list > li time > .month {
  display: block;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
}
.event-list > li > img {
  width: 100%;
}
.event-list > li > .info {
  padding-top: 10px;
  text-align: center;
}
.event-list > li > .info > .title {
  font-size: 15pt;
  font-weight: 500;
  margin: 0px;
}
.event-list > li > .info > .desc {
  font-size: 10pt;
  font-weight: 300;
  margin: 0px;
}
.event-list > li > .info > ul {
  display: table;
  list-style: none;
  margin: 10px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  background-color: #DEDEDE;
}
.event-list > li > .info > ul > li {
  display: table-cell;
  cursor: pointer;
  color: #1e1e1e;
  font-size: 11pt;
  font-weight: 300;
  padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
  display: block;
  width: 100%;
  color: #6D6D6D;
  text-decoration: none;
}
.event-list > li > .info > ul > li:hover {
  color: #1e1e1e;
  background-color: #c8c8c8;
}
@media (min-width: 768px) {
  .event-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }
  .event-list > li > time,
  .event-list > li > img {
    display: inline-block;
  }
  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    float: left;
  }
  .event-list > li > .info {
    background-color: #f5f5f5;
    overflow: hidden;
  }
  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  }
  .event-list > li > time > .day {
    font-size: 56pt;
  }
  .event-list > li > .info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
    padding-top: 30px;
  }
  .event-list > li > .info > .title,
  .event-list > li > .info > .desc {
    padding: 0px 10px;
  }
  .event-list > li > .info > ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #D2D2D2;
  }
}
.notice {
  color: #f78d1e !important;
}
.bold {
  font-weight: bold !important;
}
